.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  max-width: none !important;
  width: 100% !important;
}

.item-details {
  padding: 1rem;
  text-align: left;
  order: 2;
}

.item-images {
  order: 1;
}

.item-images-title {
  font-weight: 300;
  margin-bottom: 3rem;
}

.item-images-primary {
  margin-bottom: 4rem;
  max-width: 100%;
}

.item-images-thumbnails {
  display: inline-block;
}

.item-images-thumbnail {
  display: inline-block;
  margin: 0 .5rem 1rem;
  width: 4rem;
  height: 4rem;
}

.price-value {
  display: inline-block;
  font-size: 1.75rem;
  margin: .5rem 0;
}

.price-qualifier {
  color: grey;
  font-size: .75rem;
  margin-left: .5rem;
  text-transform: lowercase;
}

.promotion {
  border-top: 1px lightgrey solid;
  border-bottom: 1px lightgrey solid;
  padding: 1rem;
}

.promotion-short-description {
  color: #BC200F;
  line-height: 1.5rem;
}

.promotion-tag-icon {
  color: #B82C1A;
  margin-right: .5rem;
}

.quantity {
  border: 1px lightgrey solid;
  padding: .2rem;
  margin: 1.25rem 0;
  height: 24px;
  width: 200px;
}

.quantity-label {
  bottom: 5px;
  color: grey;
  font-size: .75rem;
  margin-left: .2rem;
  margin-right: 4rem;
  position: relative;
}

.quantity-value {
  bottom: 3px;
  position: relative;
}

.quantity-decrement, .quantity-increment {
  color: lightgrey;
  font-size: 1.5rem !important;
  margin: 0 .5rem;
}

.purchase-primary-cta {
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 300;
  padding: .5rem 0;
  margin-right: .5rem;
  width: 45%;
  text-transform: uppercase;
}

.purchase-primary-cta.pick-up {
  background-color: black;
}

.purchase-primary-cta.add-cart {
  background-color: #BB261A;
}

.purchase-find-in-store {
  color: black;
  font-size: .625rem;
  font-weight: 600;
  margin-left: 5rem;
  display: block;
  text-decoration: none;
}

.purchase-returns {
  padding: 1rem 0;
}

.purchase-return-label {
  color: grey;
  display: inline-block;
  font-weight: 300;
  line-height: 1.5rem;
  border-right: 1px lightgrey solid;
  padding: 0 .75rem;
}

.purchase-return-policy {
  color: grey;
  font-size: .3rem;
  padding: .5rem .75rem;
}

.purchase-secondary-cta {
  background-color: #F3F3F3;
  border: none;
  border-radius: 3px;
  color: grey;
  font-size: .70rem;
  line-height: 1.25rem;
  margin: 0 2px;
  padding: .2rem 0;
  width: 32%;
  text-transform: uppercase;
}

.item-description {
  padding: 1rem;
  text-align: left;
  order: 4;
}

.item-description-title {
  font-weight: 400;
  margin: 0;
  text-transform: lowercase;
}

.item-description-list {
  padding-left: 1rem;
  text-align: left;
}

.item-description-feature {
  color: grey;
  font-size: .75rem;
  line-height: 1.5rem;
}

.reviews {
  display: inline-block;
  padding: 1rem;
  order: 3;
}

.reviews-pro-con-container {
  background-color: #F6F5F5;
  padding: 1rem;
  text-align: left;
}

.reviews-headline-container {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.fa-star {
  color: #BC200F;
}

.fa-chevron-left, .fa-chevron-right {
  bottom: 40px;
  color: grey;
  font-size: 1.5rem !important;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.reviews-headline {
  font-weight: 400;
}

.reviews-subheadline {
  color: grey;
  font-size: .625rem;
}

.reviews-header {
  font-size: .75rem;
  font-weight: 600;
  height: 15px;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.reviews-view-all {
  float: right;
}

.reviews-stars {
  margin: 0 1px;
}

.reviews-overall-stars {
  font-size: 1.25rem !important;
  float: left;
  margin: 0 1px;
}

.reviews-title {
  font-weight: 600;
  line-height: 1.5rem;
}

.reviews-review-container {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.reviews-description, .reviews-user-date {
  font-size: .75rem;
  margin-bottom: 1rem;
}

.reviews-username {
  color: #3366BB;
}

.reviews-title-container {
  display: inline-block;
  width: 50%;
}

.reviews-overall-label {
  display: inline-block;
  float: left;
  margin-left: .5rem;
}

.fa-search-plus {
  color: grey;
  font-size: 1.75rem !important;
}

.item-images-zoom-label {
  color: grey;
  display: inline-block;
  font-size: .75rem;
  padding-left: 5px;
}

.item-images-zoom-container {
  margin-bottom: 1rem;
}

.item-images {
  padding: 1rem;
}

.viewing {
  border: 1px solid grey;
  border-radius: 4px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

    .row {
      display: flex;
      flex-flow: column;
    }

    .reviews {
      order: 5;
    }
}
